@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #0c0b0e;
  color: #f5f5f5;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
  letter-spacing: 1.5mm;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: 400;
  font-size: 3rem;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main--model {
  width: 50%;
  height: calc(100% - 80px);
}
.main__img-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__img-container--grid{
  width: 40%;
  height: auto;
}
.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15rem;
  padding-left: 30rem;
  padding-top: 15rem;
  scale: 1.25;
}
.section__img-container, .section__list {
  width: 100%;
  scale: 1.25;
}
.section__img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__list {
  font-size: 2rem;
  margin-right: 5rem ;
}

.cursor-shadow {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 60rem;
    width: 60rem;
    background: radial-gradient(
      circle,
      rgba(91, 103, 91, 0.1),
      transparent,
      transparent,
      transparent
    );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 500;
}