<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Morbius Strip</title>
  </head>
  <body>
    <h1>Morbius' Strip Structure</h1>
    <model-viewer
      src="models/Moebius.glb"
      alt="A detailed 3D object"
      shadow-intensity="10"
      auto-rotate
      autoplay
      loop
      exposure="1"
      seamless-rotation
      seamless-rotation-speed="50deg/s"
      class="model"
    >
    </model-viewer>

    <script
      type="module"
      src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"
    ></script>
  </body>
</html>
