@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #070214;
  color: #f5f5f5;
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
  overflow: hidden;
}
h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 3rem;
}
.model {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  transform: translate(0, -80px);
}
